@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

:root {
	--font-mono: ui-monospace, Menlo, Monaco, sans-serif, 'Cascadia Mono',
		'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
		'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Montserrat',
		'Courier New', monospace, 'DM Sans', 'Barlow Condensed', 'Roboto',
		'Space Grotesk', 'Noto Color Emoji';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	overflow-x: hidden;
}

